/* Hide and show classes */
.hidden {
  display: none;
}
.visible {
  display: block;
}

/* Game role display */
#game-role-display {
  text-align: center;
}
#game-role-display h3 {
  margin-top: 0;
}

/* Storyteller page */
#storyteller-page {
  text-align: center;
}
#storyteller-page h2 {
  margin-top: 0;
}
#storyteller-page button {
  margin: 10px;
}

/* Player page */
#player-page {
  text-align: center;
}
#player-page h2 {
  margin-top: 0;
}
#player-page p {
  margin-top: 10px;
}
#player-page button {
  margin: 10px;
}
